<div class="flex flex-col items-center">
  <h1 class="mt-16 ter text-[2rem] font-semibold tracking-tighter text-zinc-900">Thank you!</h1>
  <img
    src={"https://d3h1bvh1ced4x7.cloudfront.net/image-#{@image.id}.png"}
    class="h-full mt-8 w-96 bg-zinc-200"
  />
  <.link class="mt-8" href={~p"/"}>Make another print.</.link>
</div>
