<.form for={@form} phx-submit="submit">
  <div class="flex flex-col gap-2">
    <h1 class="sm:hidden sm:text-ellipsis">
      <%= @prompt.prompt %>
    </h1>
    <img
      src={"https://d3h1bvh1ced4x7.cloudfront.net/image-#{@image.id}.png"}
      class="h-full w-full bg-zinc-200"
    />
    <.button>Purchase</.button>
  </div>
</.form>
