<div class="mt-4 flex flex-wrap justify-center gap-2">
  <a href={~p"/e/#{shortid(@prompt.id)}/#{shortid(@image.id)}/frame"}>
    <img src={@image.url} class="h-full w-full bg-zinc-200" />
  </a>
</div>
<div class="mt-4 flex flex-col flex-wrap justify-between max-h-60 sm:max-h-96 gap-2">
  <%= for img <- @images do %>
    <img src={img.url} class="h-28 w-28 sm:h-56 sm:w-56 bg-zinc-200" />
  <% end %>
</div>
